---
layout: default
---
<!-- ******HEADER****** -->
<header id="header" class="header">
  <div class="container">
    <h1 class="logo pull-left">
      <a href="/">
        <span class="logo-title">{{ site.org_name }}</span>
      </a>
    </h1><!--//logo-->
    <nav id="main-nav" class="main-nav navbar-right" role="navigation">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button><!--//nav-toggle-->
      </div><!--//navbar-header-->
      <div class="navbar-collapse collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active nav-item"><a class="scrollto" href="#promo">HOME</a></li>
          <li class="nav-item"><a class="scrollto" href="#about">ウィメンズアイって?</a></li>
          <li class="nav-item"><a class="scrollto" href="#activities">活動記録</a></li>
          <li class="nav-item"><a href="/news.html">お知らせ</a></li>
          <li class="nav-item"><a href="/reports.html">レポート</a></li>
          <li class="nav-item"><a class="scrollto" href="#support">支援する</a></li>
          <li class="nav-item"><a class="scrollto" href="#contact">お問い合わせ</a></li>
        </ul><!--//nav-->
      </div><!--//navabr-collapse-->
    </nav><!--//main-nav-->
  </div>
</header><!--//header-->

<!-- ******PROMO****** -->
<section id="promo" class="promo section offset-header">
  <!-- Bootstrap Carousel -->
  <div id="heroCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#heroCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#heroCarousel" data-slide-to="1"></li>
      <li data-target="#heroCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Slides -->
    <div class="carousel-inner">
      <div class="item active">
        <div class="slide-content">
          <div class="slide-overlay"></div>
          <div class="slide-image slide-image-1"></div>
          <div class="carousel-caption">
            <h2>私たちがめざすのは</h2>
            <p>東北の女性たちの声を世界へ</p>
            <a href="#about" class="btn btn-primary btn-lg">もっと知る</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="slide-content">
          <div class="slide-overlay"></div>
          <div class="slide-image slide-image-2"></div>
          <div class="carousel-caption">
            <h2>グラスルーツ・アカデミー</h2>
            <p>ローカルで活躍する女性たちのネットワーク</p>
            <a href="#activities" class="btn btn-primary btn-lg">活動を見る</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="slide-content">
          <div class="slide-overlay"></div>
          <div class="slide-image slide-image-3"></div>
          <div class="carousel-caption">
            <h2>女性のエンパワーメント</h2>
            <p>スキルアップとキャリア支援を通じて</p>
            <a href="/about.html" class="btn btn-primary btn-lg">詳しくはこちら</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#heroCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#heroCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section><!--//promo-->

<!-- ******ABOUT****** -->
<section id="about" class="about section">
  <div class="container">
    <h2 class="title text-center">ウィメンズアイって?</h2>
    <p class="intro text-center">{{ site.org_full_description }}</p>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-body">
            <p class="text-center">
              NPO法人ウィメンズアイは、ローカルで活躍する女性たちが学び合い、つながりを深める場として「グラスルーツ・アカデミー」を開催しています。また、地域女性のスキルアップやデジタル研修、キャリア支援など、様々なプログラムを通じて東北の女性たちをエンパワーメントしています。
            </p>
            <p class="text-center">
              <a href="/about.html" class="btn btn-primary">詳しくはこちら <i class="fa fa-angle-right"></i></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div><!--//container-->
</section><!--//about-->

<!-- ******PROJECTS (FORMERLY ACTIVITIES)****** -->
<section id="activities" class="section">
  <div class="container">
    <h2 class="title text-center">プロジェクト</h2>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="project-card animate-slide-up">
          <div class="img-container">
            <img src="assets/images/grassroots-academy-tohoku.jpg" alt="グラスルーツ・アカデミー東北">
          </div>
          <div class="project-content">
            <h3 class="project-title">グラスルーツ・アカデミー東北</h3>
            <p><a href="#" class="btn btn-primary" role="button">詳細を見る</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="project-card animate-slide-up">
          <div class="img-container">
            <img src="assets/images/pan-oui.jpg" alt="パン・菓子工房oui">
          </div>
          <div class="project-content">
            <h3 class="project-title">パン・菓子工房oui</h3>
            <p><a href="#" class="btn btn-primary" role="button">詳細を見る</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="project-card animate-slide-up">
          <div class="img-container">
            <img src="assets/images/comado.jpg" alt="comado">
          </div>
          <div class="project-content">
            <h3 class="project-title">comado</h3>
            <p><a href="#" class="btn btn-primary" role="button">詳細を見る</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="project-card animate-slide-up">
          <div class="img-container">
            <img src="assets/images/umisato-kosha.jpg" alt="うみさと工舎Webshop">
          </div>
          <div class="project-content">
            <h3 class="project-title">うみさと工舎Webshop</h3>
            <p><a href="#" class="btn btn-primary" role="button">詳細を見る</a></p>
          </div>
        </div>
      </div>
    </div>
  </div><!--//container-->
</section><!--//activities-->

<!-- ******NEWS****** -->
<section id="news" class="section">
  <div class="container">
    <h2 class="title text-center">お知らせ</h2>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="thumbnail animate-fade-in">
          <div class="img-wrapper">
            <img src="assets/images/grassroots-academy.jpg" alt="グラスルーツ・アカデミー">
          </div>
          <div class="caption">
            <span class="label label-primary">エンパワーメント</span>
            <span class="label label-success">グラスルーツ・アカデミー東北</span>
            <span class="label label-info">スキルアップ</span>
            <h3>グラスルーツ・アカデミー in 奈良「うちとそとを繋ぐコミュニケーション 〜若者世代と描く公正な地域づくり〜」</h3>
            <p class="date">投稿日：2025年3月7日</p>
            <p>NPO法人ウィメンズアイは、ローカルで活躍する女性たちが学び合い、つながりを深める場として「グラスルーツ・アカデミー」を開催しています。</p>
            <p><a href="/news.html" class="btn btn-primary" role="button">もっと見る</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="thumbnail animate-fade-in">
          <div class="img-wrapper">
            <img src="assets/images/we-mail.jpg" alt="WEメルマ">
          </div>
          <div class="caption">
            <span class="label label-warning">WEメルマ！</span>
            <h3>2024年11月-2025年1月《WEメルマ！》第74号</h3>
            <p class="date">投稿日：2025年1月31日</p>
            <p>明けましておめでとうございます。お正月が明け、宮城県地方には【どんと祭】というお祭りがあります。1月14日に神社の境内で正月飾りを焼き、御神火にあたることで一年の無病息災や家内安全を祈願するものです。平穏な一年になります...</p>
            <p><a href="/news.html" class="btn btn-primary" role="button">もっと見る</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-3">
        <div class="thumbnail animate-fade-in">
          <div class="img-wrapper">
            <img src="assets/images/digital-training.jpg" alt="デジタル研修">
          </div>
          <div class="caption">
            <span class="label label-primary">エンパワーメント</span>
            <span class="label label-info">スキルアップ</span>
            <span class="label label-danger">デジタル研修</span>
            <h3>プレスリリース配信しました</h3>
            <p class="date">投稿日：2025年1月19日</p>
            <p>地方の⼥性がPCスキル研修を受けるための意外と知られていないハードルは、「パソコン貸出」 ウィメンズアイでは、2023年8月に「気仙沼市で暮らす女性の仕事・デジタル・生活に関する調査」を実施し、調査結果から、地域女性のス...</p>
            <p><a href="/news.html" class="btn btn-primary" role="button">もっと見る</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <a href="/news.html" class="btn btn-outline">すべてのお知らせを見る <i class="fa fa-arrow-right"></i></a>
    </div>
  </div><!--//container-->
</section><!--//news-->

<!-- ******REPORTS****** -->
<section id="reports" class="section">
  <div class="container">
    <h2 class="title text-center">レポート</h2>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="thumbnail animate-fade-in">
          <div class="img-wrapper">
            <img src="assets/images/womans-college.jpg" alt="ウーマンズ・カレッジ">
          </div>
          <div class="caption">
            <span class="label label-primary">エンパワーメント</span>
            <span class="label label-info">スキルアップ</span>
            <span class="label label-warning">講演・セミナー</span>
            <h3>気仙沼市女性人材育成事業「アクティブ・ウーマンズ・カレッジ第8期」</h3>
            <p class="date">投稿日：2025年3月3日</p>
            <p>ウィメンズアイは2024年度、気仙沼市の委託を受けチャレンジしたい女性の一歩を応援する連続講座「アクティブ・ウーマンズ・カレッジ」の第8期を企画・運営しました。</p>
            <p><a href="/reports.html" class="btn btn-primary" role="button">もっと見る</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="thumbnail animate-fade-in">
          <div class="img-wrapper">
            <img src="assets/images/text-communication.jpg" alt="テキストコミュニケーション講座">
          </div>
          <div class="caption">
            <span class="label label-primary">エンパワーメント</span>
            <span class="label label-info">スキルアップ</span>
            <span class="label label-danger">デジタル研修</span>
            <h3>デジタルカレッジUP 第2期 第2回対面講座「テキストコミュニケーション」のご報告</h3>
            <p class="date">投稿日：2025年2月14日</p>
            <p>デジタルカレッジUP第2期は、就職や転職に向けたスキルアップや、キャリアアップを目指す女性の学びの場として12月15日より開講しました。 今回は、年が明けた1月25日に開催した対面講座第2回の様子をご報告します。</p>
            <p><a href="/reports.html" class="btn btn-primary" role="button">もっと見る</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-3">
        <div class="thumbnail animate-fade-in">
          <div class="img-wrapper">
            <img src="assets/images/digital-survey.jpg" alt="デジタル調査">
          </div>
          <div class="caption">
            <span class="label label-primary">調査レポート</span>
            <span class="label label-danger">デジタル研修</span>
            <h3>気仙沼市で暮らす女性の仕事・デジタル・生活に関する調査</h3>
            <p class="date">投稿日：2024年8月16日</p>
            <p>気仙沼市にお住まいの女性を対象に、働き方やデジタルスキル、生活環境に関するアンケート調査を実施しました。この調査結果から、地域女性が抱える課題や必要とされる支援について分析しています。</p>
            <p><a href="/reports.html" class="btn btn-primary" role="button">もっと見る</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <a href="/reports.html" class="btn btn-outline">すべてのレポートを見る <i class="fa fa-arrow-right"></i></a>
    </div>
  </div><!--//container-->
</section><!--//reports-->

<!-- ******SUPPORT****** -->
<section id="support" class="donate section">
  <div class="container">
    <div class="donate-inner">
      <h2 class="title text-center">支援する</h2>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
          <div class="info text-center">
            <p><strong>私たちの活動をサポートしてください</strong><br>皆様からのご支援は、東北の女性たちのエンパワーメントと地域の復興に直接つながります。</p>
          </div><!--//info-->
          
          {% if site.donorbox_campaign_name %}
            <div class="donorbox text-center">
              <iframe src="https://donorbox.org/embed/{{ site.donorbox_campaign_name }}" height="600px" width="100%" style="max-width:500px; min-width:310px" seamless="seamless" name="donorbox" frameborder="0" scrolling="no"></iframe>
            </div>
            {% if site.is_501c3 == true %}
              <p class="text-center">ご寄付は税控除の対象となります。<br>{{ site.org_name }}は認定NPO法人です。</p>
            {% elsif site.fiscal_sponsor_name %}
              <p class="text-center">{{ site.org_name }}は{{ site.fiscal_sponsor_name }}によって財政支援を受けています。</p>
            {% endif %}
          {% else %}
          <div class="donate-form">
            <h3 class="text-center">寄付を選択</h3>
            <div class="amount-buttons text-center">
              <button class="btn btn-primary">¥1,000</button>
              <button class="btn btn-primary">¥3,000</button>
              <button class="btn btn-primary">¥5,000</button>
              <button class="btn btn-primary">¥10,000</button>
            </div>
            <div class="custom-amount">
              <div class="form-group">
                <label for="custom-amount">その他の金額</label>
                <div class="input-group">
                  <span class="input-group-addon">¥</span>
                  <input type="number" class="form-control" id="custom-amount" placeholder="金額を入力">
                </div>
              </div>
            </div>
            <div class="text-center">
              <button class="btn btn-lg btn-primary">寄付する</button>
            </div>
          </div>
          {% endif %}
          
          <div class="cta-container">
            <div class="speech-bubble">
              <p class="intro">皆様のご支援に心より感謝申し上げます :)</p>
              <div class="icon-holder text-center"><i class="fa fa-smile-o"></i></div>
            </div><!--//speech-bubble-->
          </div><!--//cta-container-->
        </div>
      </div>
    </div><!--//donate-inner-->
  </div><!--//container-->
</section><!--//how-->

<!-- ******CONTACT****** -->
<section id="contact" class="contact section has-pattern">
  <div class="container">
    <div class="contact-inner">
      <h2 class="title text-center">お問い合わせ</h2>
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <div class="info">
            <h4 class="sub-title">ソーシャルメディアでつながる</h4>
            <ul class="social-icons list-inline">
            {% if site.twitter_username %}
            <li><a href="https://twitter.com/{{ site.org_twitter_username }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
            {% endif %}
            {% if site.facebook_username %}
            <li><a href="https://www.facebook.com/{{ site.org_facebook_username }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
            {% endif %}
            {% if site.instagram_username %}
            <li><a href="http://instagram.com/{{ site.org_instagram_username }}"><i class="fa fa-instagram"></i></a></li>
            {% endif %}
            </ul>
            
            <h4 class="sub-title">お問い合わせ先</h4>
            <p><i class="fa fa-envelope"></i> <a href="mailto:{{ site.org_general_email_inbox }}">{{ site.org_general_email_inbox }}</a></p>
            
            <h4 class="sub-title">所在地</h4>
            <p><i class="fa fa-map-marker"></i> 宮城県気仙沼市<br>〒988-0000</p>
            
            <h4 class="sub-title">お問い合わせ時間</h4>
            <p><i class="fa fa-clock-o"></i> 平日 9:00〜18:00</p>
          </div><!--//info-->
        </div>
        
        <div class="col-md-7 col-sm-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <form class="form">
                <div class="form-group">
                  <label for="name">お名前</label>
                  <input type="text" class="form-control" id="name" placeholder="お名前" required>
                </div>
                <div class="form-group">
                  <label for="email">メールアドレス</label>
                  <input type="email" class="form-control" id="email" placeholder="メールアドレス" required>
                </div>
                <div class="form-group">
                  <label for="subject">件名</label>
                  <input type="text" class="form-control" id="subject" placeholder="件名">
                </div>
                <div class="form-group">
                  <label for="message">メッセージ</label>
                  <textarea class="form-control" id="message" rows="5" placeholder="メッセージを入力してください" required></textarea>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary btn-lg">送信</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div><!--//contact-inner-->
  </div><!--//container-->
</section><!--//contact-->
