---
layout: default
---
<!-- ******HEADER****** -->
<header id="header" class="header">
  <div class="container">
    <h1 class="logo pull-left">
      <a href="/">
        <span class="logo-title">{{ site.org_name }}</span>
      </a>
    </h1><!--//logo-->
    <nav id="main-nav" class="main-nav navbar-right" role="navigation">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button><!--//nav-toggle-->
      </div><!--//navbar-header-->
      <div class="navbar-collapse collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="nav-item"><a href="/">HOME</a></li>
          <li class="nav-item"><a href="/#about">ウィメンズアイって?</a></li>
          <li class="nav-item"><a href="/#activities">活動記録</a></li>
          <li class="active nav-item"><a href="/news.html">お知らせ</a></li>
          <li class="nav-item"><a href="/reports.html">レポート</a></li>
          <li class="nav-item"><a href="/#support">支援する</a></li>
          <li class="nav-item"><a href="/#contact">お問い合わせ</a></li>
        </ul><!--//nav-->
      </div><!--//navabr-collapse-->
    </nav><!--//main-nav-->
  </div>
</header><!--//header-->

<!-- ******NEWS PAGE****** -->
<section class="section offset-header">
  <div class="container">
    <h2 class="title text-center">お知らせ</h2>
    
    <div class="row">
      <div class="col-md-8">
        <!-- News Item 1 -->
        <div class="thumbnail animate-fade-in">
          <div class="caption">
            <span class="label label-primary">イベント</span>
            <h3>第5回グラスルーツ・アカデミー石巻 参加者募集のお知らせ</h3>
            <p class="date">2024年9月15日</p>
            <p>10月より開催する第5回グラスルーツ・アカデミー石巻の参加者を募集しています。地域で活躍したい女性のためのリーダーシップ育成プログラムです。</p>
            <p><a href="#" class="btn btn-primary" role="button">詳細を見る</a></p>
          </div>
        </div>

        <!-- News Item 2 -->
        <div class="thumbnail animate-fade-in">
          <div class="caption">
            <span class="label label-success">ワークショップ</span>
            <h3>女性のためのデジタルスキルアップ講座を開催します</h3>
            <p class="date">2024年9月1日</p>
            <p>気仙沼市内で地域の女性を対象としたデジタルスキルアップ講座を開催します。Webサイト作成やSNS活用など、実践的なスキルを学べます。初心者歓迎！</p>
            <p><a href="#" class="btn btn-primary" role="button">詳細を見る</a></p>
          </div>
        </div>

        <!-- News Item 3 -->
        <div class="thumbnail animate-fade-in">
          <div class="caption">
            <span class="label label-info">採用情報</span>
            <h3>ウィメンズアイでインターン生を募集しています</h3>
            <p class="date">2024年8月20日</p>
            <p>東北での復興支援や女性エンパワーメントに関心のある大学生・大学院生を対象に、インターンシッププログラムの参加者を募集しています。リモートワーク可能です。</p>
            <p><a href="#" class="btn btn-primary" role="button">詳細を見る</a></p>
          </div>
        </div>

        <!-- News Item 4 -->
        <div class="thumbnail animate-fade-in">
          <div class="caption">
            <span class="label label-warning">助成金情報</span>
            <h3>女性起業家支援金の申請受付を開始しました</h3>
            <p class="date">2024年8月5日</p>
            <p>東北地方で活動する女性起業家を対象とした少額助成金プログラムの申請受付を開始しました。起業・事業拡大に必要な資金を支援します。</p>
            <p><a href="#" class="btn btn-primary" role="button">詳細を見る</a></p>
          </div>
        </div>

        <!-- News Item 5 -->
        <div class="thumbnail animate-fade-in">
          <div class="caption">
            <span class="label label-primary">イベント</span>
            <h3>オンラインセミナー「災害とジェンダー」開催のお知らせ</h3>
            <p class="date">2024年7月25日</p>
            <p>防災・減災の分野におけるジェンダー視点の重要性について考えるオンラインセミナーを開催します。各地の実践例や最新の研究成果を共有します。</p>
            <p><a href="#" class="btn btn-primary" role="button">詳細を見る</a></p>
          </div>
        </div>

        <!-- News Item 6 -->
        <div class="thumbnail animate-fade-in">
          <div class="caption">
            <span class="label label-danger">メディア掲載</span>
            <h3>代表理事の活動が朝日新聞に掲載されました</h3>
            <p class="date">2024年7月10日</p>
            <p>ウィメンズアイ代表理事の石本めぐみのインタビューが朝日新聞に掲載されました。東北の女性支援活動や今後の展望について語っています。</p>
            <p><a href="#" class="btn btn-primary" role="button">詳細を見る</a></p>
          </div>
        </div>

        <!-- Pagination -->
        <nav aria-label="Page navigation" class="text-center">
          <ul class="pagination">
            <li class="active">
              <a href="#" aria-label="Current">1</a>
            </li>
            <li>
              <a href="#" aria-label="Page 2">2</a>
            </li>
            <li>
              <a href="#" aria-label="Page 3">3</a>
            </li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      
      <!-- Sidebar Content -->
      <div class="col-md-4">
        <!-- Categories Widget -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">カテゴリー</h3>
          </div>
          <div class="panel-body">
            <ul class="list-unstyled">
              <li><a href="#">イベント情報</a></li>
              <li><a href="#">ワークショップ</a></li>
              <li><a href="#">採用情報</a></li>
              <li><a href="#">助成金情報</a></li>
              <li><a href="#">メディア掲載</a></li>
              <li><a href="#">活動報告</a></li>
            </ul>
          </div>
        </div>
        
        <!-- Archive Widget -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">アーカイブ</h3>
          </div>
          <div class="panel-body">
            <ul class="list-unstyled">
              <li><a href="#">2024年9月</a></li>
              <li><a href="#">2024年8月</a></li>
              <li><a href="#">2024年7月</a></li>
              <li><a href="#">2024年6月</a></li>
              <li><a href="#">2024年5月</a></li>
              <li><a href="#">2024年4月</a></li>
            </ul>
          </div>
        </div>
        
        <!-- Recent Posts Widget -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">最近の投稿</h3>
          </div>
          <div class="panel-body">
            <div class="media">
              <div class="media-body">
                <h4 class="media-heading"><a href="#">第5回グラスルーツ・アカデミー石巻 参加者募集のお知らせ</a></h4>
                <p class="date">2024年9月15日</p>
              </div>
            </div>
            <div class="media">
              <div class="media-body">
                <h4 class="media-heading"><a href="#">女性のためのデジタルスキルアップ講座を開催します</a></h4>
                <p class="date">2024年9月1日</p>
              </div>
            </div>
            <div class="media">
              <div class="media-body">
                <h4 class="media-heading"><a href="#">ウィメンズアイでインターン生を募集しています</a></h4>
                <p class="date">2024年8月20日</p>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Follow Us Widget -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">フォローする</h3>
          </div>
          <div class="panel-body">
            <div class="social-icons">
              {% if site.twitter_username %}
              <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fa fa-twitter"></i></a>
              {% endif %}
              {% if site.facebook_username %}
              <a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank"><i class="fa fa-facebook"></i></a>
              {% endif %}
              {% if site.instagram_username %}
              <a href="http://instagram.com/{{ site.instagram_username }}"><i class="fa fa-instagram"></i></a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div><!--//container-->
</section> 